
.nav a {
    display: inline-flex;
    background-color: lightgray;
    padding:8px;
    color:red;
    text-decoration: none;
    width: 150px;
    font-weight: bold;
    border: 2px solid darkgrey;
}

.main footer{
    font-size:13px;
}

.main {
    width: 960px;
    margin: 0 20px;
}
.main address{
    font-style: normal;
}